<%- include('layout/app', { 
    body: `

    <!-- banner Section -->   
    <section id="banner" class=" banner about section  banner-bg">

        <!-- Section Title -->
        <div class="container banner-title" data-aos="fade-up">
         
          <div class="text-center banner-title">
            About the Temple
          </div>
          <div class="page-title">
            <nav class="breadcrumbs">
              <div class="container">
                <ol>
                  <li><a href="/">Home</a></li>
                  <li class="current">About Baba Bhusandeswar Temple</li>
                </ol>
              </div>
          </div>
        </div><!-- End Section Title -->
      </section>
      
      <!-- /banner -->
  
       <!-- about Section -->
       <section id="about-baba" class="features about-baba-temple section flower3-bg">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
         <!-- <div class="section-sub-title">
          <p>EVENTS</p>
         </div> -->
          <div class="text-center custom-section-title2 og-title">
            About The Baba Bhusandeswar Temple
          </div>
        </div>
        <div class="container-xl">
          <div class="row gy-4 py-2">
            <div class="col-lg-6 col-md-6 col-sm-12 "data-aos="fade-right" data-aos-delay="50">
              <img src="./assets/img/temple/abttemple1.png" class="img-fluid br abtimg" alt="">
             </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="abt-title p-0">
                <h3>The History of Baba Bhusandeswar Temple</h3>
              </div>
              <div class="abt-text">
                <p>Baba Bhusandeswar Temple, nestled in the serene landscape of Bhadrak district, Odisha, is a revered Hindu shrine dedicated to Lord Bhusandeswar, a form of Lord Shiva. This ancient temple stands as a beacon of spirituality and cultural heritage, attracting countless devotees and visitors each year. <br>
                  The origins of Baba Bhusandeswar Temple trace back several centuries, with roots embedded in local mythology and history. According to legend, the temple was founded after a devotee experienced a divine revelation in a dream. Guided by Lord Shiva, the devotee discovered a sacred lingam in the area, leading to the establishment of this magnificent shrine.</p>
              </div>
            </div>
            </div>
           
            <div class="row gy-4 py-2">
              <div class="col-lg-6 col-md-6 col-sm-12 order-2" data-aos="fade-left" data-aos-delay="50">
                <img src="./assets/img/temple/abttemple2.png" class="img-fluid br abtimg" alt="">
               </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="abt-title p-0">
                  <h3>The Spiritual Significance</h3>
                </div>
                <div class="abt-text">
                  <p>Baba Bhusandeswar Temple holds profound spiritual importance for devotees. It is believed that sincere prayers offered here can lead to the fulfillment of wishes, peace, and prosperity. The temple serves as a sanctuary for spiritual seekers, providing a space for meditation and reflection.<br>
                    The temple comes alive during various festivals, most notably Maha Shivaratri, which attracts thousands of devotees. This auspicious occasion is marked by night-long vigils, chanting, and special rituals dedicated to Lord Shiva. Other festivals, such as Shravan month and Ashokastami, are also celebrated with great fervor, drawing the community together in devotion and celebration.</p>
                </div>
              </div>
              </div>
            
  
          </div>
          
         
  
        </div>
  
      </section><!-- /about Section -->
  
     <!-- strip -->
  <div class="container-fluid strip d-flex justify-content-center align-items-center">
    <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 stripimg" alt="">
    <div>
      <h1>Baba Bhusandeswar Temple</h1>
      <p>Official Website of Baba Bhusandeswar Temple</p>
    </div>
     
    </div>
    <!-- /strip -->
    
    ` 
}) %>