<%- include('layout/app', { 
    body: `

        <!-- banner Section -->
        <section id="banner" class=" banner architecture section  banner-bg">

            <!-- Section Title -->
            <div class="container banner-title" data-aos="fade-up">
      
              <div class="text-center banner-title">
                Architecture
              </div>
              <div class="page-title">
                <nav class="breadcrumbs">
                  <div class="container">
                    <ol>
                      <li><a href="index.html">Home</a></li>
                      <li class="current">Architecture </li>
                    </ol>
                  </div>
              </div>
            </div><!-- End Section Title -->
          </section>
      
          <!-- /banner -->
      
          <!-- abtarch Section -->
          <section id="about" class="features about-temple section flower3-bg " style="z-index: 2;">
            <!-- Section Title -->
            <div class="container section-title pb-0" data-aos="fade-up">
      
              <div class="text-center custom-section-title2 og-title">
                Architecture Of The Baba Bhusandeswar
              </div>
              <div class="subtitle">
                <p>The temple follows the traditional Kalinga architecture style, which is common in Odisha. This style
                  features a focus on verticality and intricate stone carvings.
                  The main sanctum, called the Garbhagriha, houses the gigantic Shiva Linga, which is nearly 12 feet long and
                  14 feet in circumference, emerging partially from the ground.</p>
              </div>
      
            </div>
            <div class="container py-2 d-flex justify-content-center archimage">
              <img src="./assets/img/temple/architecture3.png" alt="">
      
            </div>
      
            </div>
      
          </section><!-- /abtarch Section -->
      
          <!-- 3parts architecture Section -->
          <section class="pt-0 abt-arch-section ">
      
            <section id="about-architecture" class="about abt-arch-section  section orange-bg">
      
              <!-- Section Title -->
              <div class="container section-title" data-aos="fade-up">
      
                <div class="text-center custom-section-title">
                  About the Architecture
                </div>
              </div><!-- End Section Title -->
            </section>
            <div class="container px-5 temple-about-arch-card-sec pb-5">
              <div class="row g-5 temple-about-card temple-about-arch-card">
                <!-- Card 1 -->
                <div class="col-md-4">
      
                  <div class="parts-arch-img">
                    <img src="./assets/img/temple/bada.png" width="100%" alt="">
                  </div>
                  <div class=" parts-arch-title pt-3 d-flex align-items-center">
                    <h3>The Bada</h3>
                  </div>
                  <div class="event-text parts-arch-text">
                    <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba
                      Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the
                      foundational part upon which the rest of the temple structure stands. The Bada is typically divided into
                      different sections and serves both a structural and decorative function in traditional temple
                      architecture.
                    </p>
                  </div>
                </div>
      
                <!-- Card 2 -->
                <div class="col-md-4">
      
                  <div class="parts-arch-img">
                    <img src="./assets/img/temple/gandi.png" width="100%" alt="">
                  </div>
                  <div class=" parts-arch-title pt-3 d-flex align-items-center">
                    <h3>The Gandi</h3>
                  </div>
                  <div class="event-text parts-arch-text">
                    <p>The self-manifested Shiva Linga, dating back to the Treta Yuga, was given to Ravana by Lord Shiva. When
                      Ravana paused near the Subarnarekha River, Lord Ganesha, disguised as a Brahmin, grounded the Linga,
                      making it immovable. Known as a Sampurna Linga, it is revered for following the iconographic proportions
                      in the Linga Purana, symbolizing the trinity of Brahma, Vishnu, and Shiva.</p>
                  </div>
                </div>
      
                <!-- Card 3 -->
                <div class="col-md-4">
      
                  <div class="parts-arch-img">
                    <img src="./assets/img/temple/mastaka.png" width="100%" alt="">
                  </div>
                  <div class=" parts-arch-title pt-3 d-flex align-items-center">
                    <h3>The Mastaka</h3>
                  </div>
                  <div class="event-text parts-arch-text">
                    <p>Baba Bhusandeswar Temple is a vibrant spiritual center, attracting countless devotees year-round. Its
                      rituals, festivals like Maha Shivaratri, Chadaka Mela, and Shravani Mela, celebrate a living tradition
                      that unites the community in devotion to Lord Shiva. The temple stands as a timeless symbol of enduring
                      faith and a cherished sanctuary for spiritual connection.
                    </p>
                  </div>
                </div>
      
                <!-- Card 4 -->
      
              </div>
            </div>
          </section><!-- /3parts arch  Section -->
      
          <!-- 5 parts Section -->
          <section id="about" class="features about-parts-temple section " style="z-index: 2;">
            <!-- Section Title -->
            <div class="container section-title pb-0" data-aos="fade-up">
              <div class="text-center custom-section-title2 og-title" style="font-size: 3rem;">
                The 5 Path of Temple
              </div>
      
              <div class="row g-4 pb-4">
                <!-- Card 1 -->
      
                <div class="col-md-3">
                  <div class="parts-arch-img og">
                    <img src="./assets/img/temple/1stpath.png" width="100%" alt="">
                  </div>
                </div>
      
                <div class="col-md-9">
                  <div class=" parts-arch-title pt-3 d-flex align-items-center">
                    <h3>Shravan Month</h3>
                  </div>
                  <div class="default-font ">
                    <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba
                      Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the
                      foundational part upon which the rest of the temple structure stands. The Bada is typically divided into
                      different sections and serves both a structural and decorative function in traditional temple
                      architecture.
                    </p>
                  </div>
                </div>
      
              </div>
      
              <div class="row g-4 pb-4">
                <!-- Card 1 -->
      
                <div class="col-md-3 order-2">
                  <div class="parts-arch-img og">
                    <img src="./assets/img/temple/2ndpath.png" width="100%" alt="">
                  </div>
                </div>
      
                <div class="col-md-9">
                  <div class=" parts-arch-title pt-3 d-flex align-items-center">
                    <h3>Shravan Month</h3>
                  </div>
                  <div class="default-font ">
                    <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba
                      Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the
                      foundational part upon which the rest of the temple structure stands. The Bada is typically divided into
                      different sections and serves both a structural and decorative function in traditional temple
                      architecture.
                    </p>
                  </div>
                </div>
      
              </div>
              <div class="row g-4 pb-4">
                <!-- Card 1 -->
      
                <div class="col-md-3 ">
                  <div class="parts-arch-img og">
                    <img src="./assets/img/temple/3rdpath.png" width="100%" alt="">
                  </div>
                </div>
      
                <div class="col-md-9">
                  <div class=" parts-arch-title pt-3 d-flex align-items-center">
                    <h3>Shravan Month</h3>
                  </div>
                  <div class="default-font ">
                    <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba
                      Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the
                      foundational part upon which the rest of the temple structure stands. The Bada is typically divided into
                      different sections and serves both a structural and decorative function in traditional temple
                      architecture.
                    </p>
                  </div>
                </div>
      
              </div>
              <div class="row g-4 pb-4">
                <!-- Card 1 -->
      
                <div class="col-md-3 order-2">
                  <div class="parts-arch-img og">
                    <img src="./assets/img/temple/4thpath.png" width="100%" alt="">
                  </div>
                </div>
      
                <div class="col-md-9">
                  <div class=" parts-arch-title pt-3 d-flex align-items-center">
                    <h3>Shravan Month</h3>
                  </div>
                  <div class="default-font ">
                    <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba
                      Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the
                      foundational part upon which the rest of the temple structure stands. The Bada is typically divided into
                      different sections and serves both a structural and decorative function in traditional temple
                      architecture.
                    </p>
                  </div>
                </div>
      
              </div>
              <div class="row g-4 pb-4">
                <!-- Card 1 -->
      
                <div class="col-md-3 ">
                  <div class="parts-arch-img og">
                    <img src="./assets/img/temple/5thpath.png" width="100%" alt="">
                  </div>
                </div>
      
                <div class="col-md-9">
                  <div class=" parts-arch-title pt-3 d-flex align-items-center">
                    <h3>Shravan Month</h3>
                  </div>
                  <div class="default-font ">
                    <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba
                      Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the
                      foundational part upon which the rest of the temple structure stands. The Bada is typically divided into
                      different sections and serves both a structural and decorative function in traditional temple
                      architecture.
                    </p>
                  </div>
                </div>
      
              </div>
            </div>
      
            </div>
      
          </section><!-- /5 parts Section -->
      
          <!-- strip -->
          <div class="container-fluid strip d-flex justify-content-center align-items-center">
            <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 stripimg" alt="">
            <div>
              <h1>Baba Bhusandeswar Temple</h1>
              <p>Official Website of Baba Bhusandeswar Temple</p>
            </div>
      
          </div>
          <!-- /strip -->
    
    ` 
}) %>