<%- include('layout/app', { 
    body: `

    <!-- banner Section -->
    <section id="banner" class=" banner events section  banner-bg">

      <!-- Section Title -->
      <div class="container banner-title" data-aos="fade-up">

        <div class="text-center banner-title">
          Events
        </div>
        <div class="page-title">
          <nav class="breadcrumbs">
            <div class="container">
              <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Events</li>
              </ol>
            </div>
        </div>
      </div><!-- End Section Title -->
    </section>

    <!-- /banner -->

    <!-- events Section -->
    <section id="event" class="features event section flower2-bg">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="section-sub-title">
          <p>EVENTS</p>
        </div>
        <div class="text-center custom-section-title2 og-title">
          Explore our Upcoming Events
        </div>
        <div class="subtitle">
          <p>"Join Us for Our Upcoming Events: A Journey of Discovery, Connection, and Inspiration Awaits! Dive into engaging experiences that spark creativity, foster connections, and ignite new passions. Don't miss out on the opportunity to be part of something extraordinary!"</p>
          </div>
      </div>
      <div class="container">

        <div class="d-flex justify-content-center">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Upcoming Events </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Completed Events</button>
          </li>
          <!-- <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">News</button>
          </li> -->
        </ul>
      </div>
        <div class="tab-content pt-3" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row gy-4 py-2 ">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event1.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Maha Shivaratri</h3>
                </div>
                <div class="event-text txtht2">
                  <p id="event-text  txtht2">
                    The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>

                  </div>
                
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event2.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Tribhaga Linga: Symbol of the Holy Trinity</h3>
                </div>
                <div class="event-text txtht2">
                  <p>The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event3.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Tribhaga Linga: Symbol of the Holy Trinity</h3>
                </div>
                <div class="event-text txtht2">
                  <p>The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>
                </div>
              </div>
    
              
    
            </div>
            <div class="row gy-4 py-2 ">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event1.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Maha Shivaratri</h3>
                </div>
                <div class="event-text txtht2">
                  <p id="event-text  txtht2">
                    The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>

                  </div>
                
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event2.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Tribhaga Linga: Symbol of the Holy Trinity</h3>
                </div>
                <div class="event-text txtht2">
                  <p>The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event3.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Tribhaga Linga: Symbol of the Holy Trinity</h3>
                </div>
                <div class="event-text txtht2">
                  <p>The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>
                </div>
              </div>
    
              
    
            </div>

          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row gy-4 py-2 ">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event1.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Maha Shivaratri</h3>
                </div>
                <div class="event-text txtht2">
                  <p id="event-text  txtht2">
                    The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>

                  </div>
                
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event2.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Tribhaga Linga: Symbol of the Holy Trinity</h3>
                </div>
                <div class="event-text txtht2">
                  <p>The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event3.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Tribhaga Linga: Symbol of the Holy Trinity</h3>
                </div>
                <div class="event-text  txtht2">
                  <p>The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>
                </div>
              </div>
    
              
    
            </div>
            <div class="row gy-4 py-2 ">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event1.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Maha Shivaratri</h3>
                </div>
                <div class="event-text txtht2">
                  <p id="event-text">
                    The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>

                  </div>
                
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event2.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Tribhaga Linga: Symbol of the Holy Trinity</h3>
                </div>
                <div class="event-text txtht2">
                  <p>The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="./assets/img/temple/event3.png" class="img-fluid br evntimg" alt="">
                <div class="d-flex text-muted event-date-time justify-content-between py-2 px-2">
                  <p>22 Jan 2025</p>
                  <p>Time : 01:45PM</p>
                </div>
                <div class="event-title p-0">
                  <h3>Tribhaga Linga: Symbol of the Holy Trinity</h3>
                </div>
                <div class="event-text txtht2">
                  <p>The Tribhaga Linga at Baba Bhusandeswar Temple is a unique representation of the Hindu Trinity—Brahma, Vishnu, and Maheswar (Shiva). This magnificent Linga is divided into three distinct sections, each symbolizing one of the cosmic forces that sustain the universe. The Brahma Bhaga, at the base, is square and embedded in the earth, representing creation. The Vishnu Bhaga, the middle section, is octagonal, symbolizing preservation. Finally, the Shiva Bhaga, the top cylindrical part, represents destruction and transformation, reminding devotees of the continuous cycle of life, death, and rebirth. Together, these three parts make the Sampurna Linga, embodying the Supreme Divine Power.</p>
                </div>
              </div>
    
              
    
            </div>
          </div>
          <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
        </div>

      </div>

    </section><!-- /events Section -->

    <!-- strip -->
    <div class="container-fluid strip d-flex justify-content-center align-items-center">
      <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 stripimg" alt="">
      <div>
        <h1>Baba Bhusandeswar Temple</h1>
        <p>Official Website of Baba Bhusandeswar Temple</p>
      </div>

    </div>
    <!-- /strip -->
    
    ` 
}) %>