<%- include('layout/app', { 
    body: `

    <!-- banner Section -->
    <section id="banner" class=" banner events section  banner-bg">

      <!-- Section Title -->
      <div class="container banner-title" data-aos="fade-up">

        <div class="text-center banner-title">
          Festivals
        </div>
        <div class="page-title">
          <nav class="breadcrumbs">
            <div class="container">
              <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Festivals</li>
              </ol>
            </div>
        </div>
      </div><!-- End Section Title -->
    </section>

    <!-- /banner -->

    <!-- events Section -->
    <section id="event" class="features event section flower2-bg">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="section-sub-title">
          <p>FESTIVAL</p>
        </div>
        <div class="text-center custom-section-title2 og-title">
          Explore our Festivals
        </div>
        <div class="subtitle">
          <p>"Join Us for Our Upcoming Festival: A Journey of Discovery, Connection, and Divine Inspiration!Immerse yourself in an unforgettable experience where spirituality meets celebration. Discover the magic of ancient rituals, connect with a community of devoted hearts, and awaken a new sense of purpose."</p>
          </div>
      </div>
      <div class="container">
        
        <div class="row g-4 pb-5 festivals-listing">
          <!-- Card 1 -->
          
          <div class="col-md-3">
            <div class="parts-arch-img fest-image og">
              <img src="./assets/img/temple/1stpath.png" width="100%" alt="">
            </div>
          </div>
         
          <div class="col-md-6">
            <div class=" parts-arch-title pt-3 d-flex align-items-center">
              <h3>Shravan Month</h3>
            </div>
            <div class="default-font ">
              <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the foundational part upon which the rest of the temple structure stands. The Bada is typically divided into different sections and serves both a structural and decorative function in traditional temple architecture.
              </p>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <p class="fest-month">
              Mar
            </p>
            <p class="fest-date">
              16
            </p>
          </div>
          
          
        </div>

        <div class="row g-4 pb-5 festivals-listing">
          <!-- Card 1 -->
          
          <div class="col-md-3">
            <div class="parts-arch-img fest-image og">
              <img src="./assets/img/temple/2ndpath.png" width="100%" alt="">
            </div>
          </div>
         
          <div class="col-md-6">
            <div class=" parts-arch-title pt-3 d-flex align-items-center">
              <h3>Shravan Month</h3>
            </div>
            <div class="default-font ">
              <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the foundational part upon which the rest of the temple structure stands. The Bada is typically divided into different sections and serves both a structural and decorative function in traditional temple architecture.
              </p>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <p class="fest-month">
              Jan
            </p>
            <p class="fest-date">
              20
            </p>
          </div>
          
          
        </div>
        <div class="row g-4 pb-5 festivals-listing ">
          <!-- Card 1 -->
          
          <div class="col-md-3 ">
            <div class="parts-arch-img fest-image og">
              <img src="./assets/img/temple/3rdpath.png" width="100%" alt="">
            </div>
          </div>
         
          <div class="col-md-6">
            <div class=" parts-arch-title pt-3 d-flex align-items-center">
              <h3>Shravan Month</h3>
            </div>
            <div class="default-font ">
              <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the foundational part upon which the rest of the temple structure stands. The Bada is typically divided into different sections and serves both a structural and decorative function in traditional temple architecture.
              </p>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <p class="fest-month">
              Jun
            </p>
            <p class="fest-date">
              21
            </p>
          </div>
          
          
        </div>
        <div class="row g-4 pb-5 festivals-listing">
          <!-- Card 1 -->
          
          <div class="col-md-3 ">
            <div class="parts-arch-img fest-image og">
              <img src="./assets/img/temple/4thpath.png" width="100%" alt="">
            </div>
          </div>
         
          <div class="col-md-6">
            <div class=" parts-arch-title pt-3 d-flex align-items-center">
              <h3>Shravan Month</h3>
            </div>
            <div class="default-font ">
              <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the foundational part upon which the rest of the temple structure stands. The Bada is typically divided into different sections and serves both a structural and decorative function in traditional temple architecture.
              </p>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <p class="fest-month">
              Mar
            </p>
            <p class="fest-date">
              03
            </p>
          </div>
          
          
        </div>
        <div class="row g-4 pb-5 festivals-listing">
          <!-- Card 1 -->
          
          <div class="col-md-3 ">
            <div class="parts-arch-img fest-image og">
              <img src="./assets/img/temple/5thpath.png" width="100%" alt="">
            </div>
          </div>
         
          <div class="col-md-6">
            <div class=" parts-arch-title pt-3 d-flex align-items-center">
              <h3>Shravan Month</h3>
            </div>
            <div class="default-font ">
              <p> In the context of temple architecture, particularly in Odisha and related regions where the Baba Bhusandeswar Temple is located, "Bada" refers to the base or plinth of the temple. It is the foundational part upon which the rest of the temple structure stands. The Bada is typically divided into different sections and serves both a structural and decorative function in traditional temple architecture.
              </p>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <p class="fest-month">
              April
            </p>
            <p class="fest-date">
              12
            </p>
          </div>
          
          
        </div>
      </div>
      
        

     

    </section><!-- /events Section -->

    <!-- strip -->
    <div class="container-fluid strip d-flex justify-content-center align-items-center">
      <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 stripimg" alt="">
      <div>
        <h1>Baba Bhusandeswar Temple</h1>
        <p>Official Website of Baba Bhusandeswar Temple</p>
      </div>

    </div>
    <!-- /strip -->
    
    ` 
}) %>