<%- include('layout/app', { 
    body: `

    <!-- banner Section -->
    <section id="banner" class=" banner gallery section  banner-bg">

      <!-- Section Title -->
      <div class="container banner-title" data-aos="fade-up">

        <div class="text-center banner-title">
          Gallery
        </div>
        <div class="page-title">
          <nav class="breadcrumbs">
            <div class="container">
              <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Gallery</li>
              </ol>
            </div>
        </div>
      </div><!-- End Section Title -->
    </section>

    <!-- /banner -->

    <!-- Gallery Section -->
    <section id="portfolio" class="features portfolio event section flower2-bg">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="section-sub-title">
          <p>GALLERY</p>
        </div>
        <div class="text-center custom-section-title2 og-title">
          Explore our Gallery
        </div>
        <div class="subtitle">
          <p>"Welcome to the Baba Bhusandeswar Temple Gallery! Here, you can immerse yourself in the rich heritage and
            spiritual beauty of this sacred place."</p>
        </div>
      </div>
      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters pb-4" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-fest">Festivals</li>
            <li data-filter=".filter-event">Events</li>
            <li data-filter=".filter-mandir">Mandir</li>
            <li data-filter=".filter-shiv">Lord Shiva Lingam</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fest">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img
                    src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4>Baba Bhusandeswar Temple</h4>
                  <p>Official Website of Baba Bhusandeswar Temple</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-event">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img
                    src="assets/img/portfolio/product-1.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-mandir">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/branding-1.jpg" data-gallery="portfolio-gallery-app"
                  class="glightbox"><img src="assets/img/portfolio/branding-1.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-shiv">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/books-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img
                    src="assets/img/portfolio/books-1.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fest">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/app-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img
                    src="assets/img/portfolio/app-2.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-event">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img
                    src="assets/img/portfolio/product-2.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-mandir">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/branding-2.jpg" data-gallery="portfolio-gallery-app"
                  class="glightbox"><img src="assets/img/portfolio/branding-2.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-shiv">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/books-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img
                    src="assets/img/portfolio/books-2.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fest">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/app-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img
                    src="assets/img/portfolio/app-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-event">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img
                    src="assets/img/portfolio/product-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-mandir">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/branding-3.jpg" data-gallery="portfolio-gallery-app"
                  class="glightbox"><img src="assets/img/portfolio/branding-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-shiv">
              <div class="portfolio-content h-100">
                <a href="assets/img/portfolio/books-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img
                    src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info d-flex ">
                  <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 br galleryimg" alt="">
                  <div>
                    <h4>Baba Bhusandeswar Temple</h4>
                    <p>Official Website of Baba Bhusandeswar Temple</p>
                  </div>

                </div>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- strip -->
    <div class="container-fluid strip d-flex justify-content-center align-items-center">
      <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 stripimg" alt="">
      <div>
        <h1>Baba Bhusandeswar Temple</h1>
        <p>Official Website of Baba Bhusandeswar Temple</p>
      </div>

    </div>
    <!-- /strip -->
    
    ` 
}) %>