<%- include('layout/app', { 
    body: `

        <!-- banner Section -->
        <section id="banner" class=" banner about section  banner-bg">

            <!-- Section Title -->
            <div class="container banner-title" data-aos="fade-up">
      
              <div class="text-center banner-title">
                Sampurna Linga
              </div>
              <div class="page-title">
                <nav class="breadcrumbs">
                  <div class="container">
                    <ol>
                      <li><a href="index.html">Home</a></li>
                      <li class="current">Sampurna Linga</li>
                    </ol>
                  </div>
              </div>
            </div><!-- End Section Title -->
          </section>
      
          <!-- /banner -->
      
          <!-- about-sampurna-linga Section -->
          <section id="about" class="features about-temple section flower3-bg " style="z-index: 2;">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
              <div class="text-center custom-section-title2 og-title">
                About The Baba Bhusandeswar Sampurna Linga
              </div>
              <div class="subtitle">
                <p>The Tribhaga Linga concept refers to a unique form of the Shiva linga, which is believed to embody the
                  three primary deities of Hinduism: Brahma, Vishnu, and Shiva. These deities represent the cosmic functions
                  of creation, preservation, and destruction, respectively. In this form, the linga is divided into three
                  distinct parts or levels, each symbolizing one of these gods. This division emphasizes the linga as a
                  holistic representation of the entire cosmic cycle.</p>
              </div>
            </div>
            <div class="container">
              <div class="row text-center">
                <div class="col-lg-4 col-md-4 justify-content-center d-flex flex-column align-items-end">
                  <div class="sampbd">
                    <img src="./assets/img/temple/shiva.png" class="img-fluid br imglr smpurnimg " alt="">
      
                  </div>
                  <h3 class="samptitle">Shiva Bhaga</h3>
                </div>
      
                <div class="col-lg-4 col-md-4 justify-content-center d-flex flex-column align-items-center">
                  <div class="sampbd">
                    <img src="./assets/img/temple/vishnu.png" class="img-fluid br smpurnimgmid " alt="">
      
                  </div>
                  <h3 class="samptitle">Vishnu Bhaga</h3>
                </div>
      
                <div class="col-lg-4 col-md-4 justify-content-center d-flex flex-column align-items-start">
                  <div class="sampbd">
                    <img src="./assets/img/temple/brahma.png" class="img-fluid br imglr smpurnimg " alt="">
      
                  </div>
                  <h3 class="samptitle">Brahma Bhaga</h3>
                </div>
              </div>
            </div>
      
            </div>
      
          </section><!-- /about Section -->
      
          <!-- about Section -->
          <section id="testim" class="features testimonial section " style="z-index: 2;">
            <!-- Section Title -->
            <div class="container testimonial-bg">
              <div class="container section-title  " data-aos="fade-up">
                <!-- <div class="section-sub-title">
                 <p>EVENTS</p>
                </div> -->
                <div class="text-center custom-section-title2 og-title">
                  Join us and Become Part <br> of Something Great
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 mx-auto testimcard p-5">
      
                      <p class="default-testim">Nestled in the serene landscapes of Odisha, the Baba Bhusandeswar Temple
                        stands as a beacon of faith and devotion. Dedicated to Lord Shiva, this ancient temple is a place
                        where spirituality and natural beauty intertwine, offering visitors a unique experience.</p>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            </div>
      
          </section><!-- /testimonial Section -->
      
          <!-- three parts of sampurna linga Section -->
          <section id="parts" class="features sampurna-parts section ">
            <!-- Section Title -->
            <div class="container section-title pb-0" data-aos="fade-up">
      
              <div class="text-center custom-section-title2 og-title">
                The Three Parts of the Tribhaga Linga
              </div>
            </div>
            <div class="container-xl">
              <div class="row gy-4 py-5">
                <div class="col-lg-6 col-md-6 col-sm-12 " data-aos="fade-right" data-aos-delay="100">
                  <img src="./assets/img/temple/shivapart.png" class="img-fluid br abtimg" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="abt-title p-0">
                    <h3>Shiva Bhaga (Top Part)</h3>
                  </div>
                  <div class="abt-text">
                    <p>The uppermost part of the linga is associated with Shiva, the destroyer and transformer. Shiva's role
                      is to bring an end to things to allow for new beginnings, representing the cyclic nature of the
                      cosmos—where destruction is necessary for renewal and creation.<br>
                      <br><br> The top part of the linga is most frequently worshipped in temples and rituals, symbolizing
                      Shiva's transcendence, spiritual liberation, and the ultimate dissolution of the universe into a state
                      of formlessness, known as "Shiva tattva."</p>
                  </div>
                </div>
              </div>
      
              <div class="row gy-4 py-5">
                <div class="col-lg-6 col-md-6 col-sm-12 order-2" data-aos="fade-left" data-aos-delay="100">
                  <img src="./assets/img/temple/vihnupart.png" class="img-fluid br abtimg" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="abt-title p-0">
                    <h3>Vishnu Bhaga (Middle Part)</h3>
                  </div>
                  <div class="abt-text">
                    <p>The middle portion of the linga signifies Vishnu, the preserver and sustainer of the universe. Vishnu's
                      role is to maintain cosmic order, harmony, and balance in the world.
                      <br><br> In this section, the linga embodies the sustenance of life, representing the continuous
                      preservation of the universe and beings through Vishnu's divine influence. It is the part that interacts
                      most directly with human life and existence, symbolizing protection, nourishment, and continuity.</p>
                  </div>
                </div>
              </div>
              <div class="row gy-4 py-5">
                <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-right" data-aos-delay="100">
                  <img src="./assets/img/temple/brahmapart.png" class="img-fluid br abtimg" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="abt-title p-0">
                    <h3>Brahma Bhaga (Hidden Part)</h3>
                  </div>
                  <div class="abt-text">
                    <p>The bottom part of the linga represents Brahma, the creator. Brahma is responsible for the creation of
                      the universe and all beings within it.<br>
                      <br> The base of the linga, which is often hidden or not directly worshipped in most cases, symbolizes
                      the foundational nature of Brahma's role as the source of all life. It is considered the least
                      accessible part in physical representations, emphasizing that creation is a hidden, mysterious process.
                    </p>
                  </div>
                </div>
              </div>
      
            </div>
      
            </div>
      
          </section><!-- /about Section -->
      
          <!-- strip -->
          <div class="container-fluid strip d-flex justify-content-center align-items-center">
            <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 stripimg" alt="">
            <div>
              <h1>Baba Bhusandeswar Temple</h1>
              <p>Official Website of Baba Bhusandeswar Temple</p>
            </div>
      
          </div>
          <!-- /strip -->
    
    ` 
}) %>