<%- include('layout/app', { 
    body: `

    <!-- banner Section -->
    <section id="banner" class=" banner festival-content section  banner-bg">

      <!-- Section Title -->
      <div class="container banner-title" data-aos="fade-up">

        <div class="text-center banner-title">
          Shravan Month
        </div>
        <div class="page-title">
          <nav class="breadcrumbs">
            <div class="container">
              <ol>
                <!-- <li><a href="index.html">Home</a></li>
                <li class="current">History</li> -->
              </ol>
            </div>
        </div>
      </div><!-- End Section Title -->
    </section>

    <!-- /banner -->

    <!-- testimonial Section -->
    <section id="about" class="features about-temple section flower2-bg " style="z-index: 2;">
      <!-- Section Title -->
      <div class="container section-title pb-0">
        <!-- <div class="section-sub-title">
        <p>EVENTS</p>
       </div> -->
        <div class="text-center custom-section-title2 og-title">
Shravan Month       
 </div>

      </div>
      <div class="container pb-5 px-md-5 ">
        <div class="history-title pt-0">
          <h3>Ancient Origins</h3>
        </div>
        <div class="history-text">
          <p class="history-text">The origins of the Baba Bhusandeswar Temple are not precisely documented, but it is
            believed to have been established several centuries ago, possibly during the medieval period when temple
            construction was at its zenith in Odisha. The region is renowned for its ancient temples, which played a
            significant role in the spread of Hinduism and the establishment of religious practices.</p>
        </div>
        <div class="history-title">
          <h3>Kalinga Style of Architecture</h3>
        </div>
        <div class="history-text">
          <p class="history-text">The temple exhibits the Kalinga architectural style, known for its distinctive
            features, including:
            Intricate Carvings: The temple walls and pillars are adorned with detailed carvings depicting various
            deities, scenes from Hindu mythology, and floral motifs. These artworks reflect the artistic skills of the
            craftsmen of the time.
            <br>
            Shikhara (Tower): The temple’s shikhara is designed in a curvilinear style, a hallmark of Kalinga
            architecture, symbolizing the spiritual ascent towards the divine
            <br>
            Sanctum Sanctorum: The sanctum houses the lingam (a representation of Lord Shiva), which is the focal point
            of worship. Pilgrims often perform rituals here, believing in the lingam's spiritual potency.

          </p>
        </div>
        <div class="history-title">
          <h3>Mythological Associations</h3>
        </div>
        <div class="history-text">
          <p class="history-text">
            Local legends contribute significantly to the temple's mystique. Baba Bhusandeswar is often portrayed as a
            guardian deity, protecting devotees from misfortunes and granting their wishes. One popular myth narrates
            how the deity intervened in the lives of devotees, showcasing his benevolence and power.<br>
            In some versions of the story, the temple is believed to have been established after a miraculous event
            involving a devotee’s prayer to Lord Shiva, who manifested as Bhusandeswar to help his follower in distress.
            This narrative fosters a deep emotional connection among devotees, encouraging them to visit the temple for
            blessings.
          </p>
        </div>

        <div class="history-title">
          <h3>Pilgrimage and Festivals</h3>
        </div>
        <div class="history-text">
          <p class="history-text">

            The temple is a major pilgrimage site, especially during festivals such as Maha Shivaratri, when thousands
            of devotees gather to offer prayers and participate in rituals. The atmosphere is charged with spirituality,
            with music, chanting, and communal worship creating a vibrant celebration.
            <br>Throughout the year, various ceremonies are held, including daily pujas (rituals) and special
            observances on auspicious days. Devotees often visit to seek blessings for health, wealth, and family
            well-being, contributing to the temple's lively environment.
          </p>
        </div>

        <div class="history-title">
          <h3>Preservation of Traditions</h3>
        </div>
        <div class="history-text">
          <p class="history-text">
            Baba Bhusandeswar Temple has played an essential role in the preservation and promotion of Odisha's cultural
            heritage. It serves as a hub for traditional practices, including:<br>
            <br>Dance and Music: The temple often hosts performances of classical dance forms and music, showcasing
            Odisha’s rich artistic traditions. These events attract not only locals but also tourists interested in
            experiencing the region's cultural richness.
            <br><br>Artisan Skills: The intricate carvings and sculptures found in the temple are a testament to the
            skilled artisans of Odisha. Their craftsmanship continues to inspire and educate future generations about
            traditional art forms
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row text-center">
          <div class="col-lg-4 col-md-4 justify-content-center d-flex flex-column align-items-end">
            <div class="sampbd">
              <img src="./assets/img/temple/shiva.png" class="img-fluid br imglr smpurnimg " alt="">

            </div>
            <h3 class="samptitle">Shiva Bhaga</h3>
          </div>
        
          <div class="col-lg-4 col-md-4 justify-content-center d-flex flex-column align-items-center">
            <div class="sampbd">
              <img src="./assets/img/temple/vishnu.png" class="img-fluid br smpurnimgmid " alt="">

            </div>
            <h3 class="samptitle">Vishnu Bhaga</h3>
          </div>
          <div class="col-lg-4 col-md-4 justify-content-center d-flex flex-column align-items-start">
            <div class="sampbd">
              <img src="./assets/img/temple/brahma.png" class="img-fluid br imglr smpurnimg " alt="">

            </div>
            <h3 class="samptitle">Brahma Bhaga</h3>
          </div>
         
        </div>
      </div>

      </div>

    </section><!-- /about Section -->


    <!-- strip -->
    <div class="container-fluid strip d-flex justify-content-center align-items-center">
      <img src="./assets/img/temple/striplogo.png" class="img-fluid me-4 stripimg" alt="">
      <div>
        <h1>Baba Bhusandeswar Temple</h1>
        <p>Official Website of Baba Bhusandeswar Temple</p>
      </div>

    </div>
    <!-- /strip -->
    
    ` 
}) %>