<footer id="footer" class="footer dark-background">
    <div class="container footer-top">
      <div class="row gy-4 gx-5">
        <div class="col-lg-3 col-md-3 footer-about footer-links">
          <h4>About Us</h4>
          <ul>
            <li><a href="/about-us">The Baba Bhusandeswar</a></li>
            <li><a href="/sampurn-linga">Sampurna Linga</a></li>
            <li><a href="/history">History</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 footer-about footer-links">
          <h4>More Details</h4>
          <ul>
            <li><a href="/festivals">Festival</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/donation">Donate</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3  col-sm-12 footer-about footer-links">
          <h4>Connect</h4>
          <ul>
            <li><a href="#">Kumbhirgadi village, Bhogarai <br>Block,Balasore District, Odisha,<br>PIN : 756032</a></li>
            <li><a href="mailto:bababhusandeswar@gmail.com">Email:- bababhusandeswar@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3  col-sm-12 footer-about footer-links">
          <h4>Contact Us</h4>
          <ul>
            <li><a href="#">Landline :- +911234567890</a></li>
            <li><a href="#">Mobile No:- +910987654321</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container copyright d-flex text-center mt-1 align-items-end justify-content-between">
      <p>All Right Reserved Baba Bhusandeswar Temple</p>
      <div class="credits mt-0">
        <div class="social-links d-flex mt-0 ">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-youtube xl"></i></a>
        </div>
        <p>Disclaimer | Terms | Privacy Policy</p>
      </div>
    </div>
  </footer>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
<!-- js code here -->
