
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div class="container-fluid container-xxxl px-4 position-relative d-flex align-items-center">
  
        <a href="index.html" class="logo d-flex align-items-center me-auto">
          <img src="assets/img/temple/logo.png" alt="">
          <h1 class="sitename">Baba Bhusandeswar</h1>
        </a>
  
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about-us">The Baba Bhusandeswar</a></li>
            <li><a href="/sampurn-linga">Sampurna Linga</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/architecture">Architecture</a></li>
            <li><a href="/festivals">Festival</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/donation">Donate</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
  
      </div>
    </header>