<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../../admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <!-- Template Main CSS File -->
    <!-- <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"> -->
    <link href="../../admin/assets/css/style.css" rel="stylesheet">
    <style>
        .required {
            color: red;
        }
        .admin-login-page{
            background-image: url("../../admin/assets/img/login-banner.avif");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>    
</head>
<body>
<main class="admin-login-page">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <span class="d-none d-lg-block">Baba Bhusandeswar Temple</span>
                            </a>
                        </div>
                        <!-- End Logo -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                </div>
                                <form class="form-horizontal auth-form" id="login" action="#" method="POST" class="row g-3 needs-validation" novalidate>
                           
                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Email Id</label>
                                        <span class="required">*</span>
                                        <div class="input-group has-validation">
                                            <input type="email" name="email" class="form-control" id="email" placeholder="Please Enter Your Email Id..." required>
                                            <div class="invalid-feedback">Please enter your Email Id.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        <span class="required">*</span>
                                        <input type="password" name="password" class="form-control" id="password" placeholder="Please Enter Your Password..." required>
                                        <div class="invalid-feedback">Please enter your Password!</div>
                                    </div>
                                    <div class="col-12 py-3">
                                    <button class="btn btn-primary w-100" value="Login" type="submit">Login</button>
                                    </div>
                                    <div class="col-12">
                                        <!-- @error('error')
                                        <p class="required">{{ $message }}</p>
                                        @enderror -->
                                    </div>
                                    <!-- <div class="col-12">
                                        <p class="small mb-0">Forgot password ? <a href="">Click here</a></p>
                                    </div> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<script>
		const inputs = document.querySelectorAll(".input");


		function addcl() {
			let parent = this.parentNode.parentNode;
			parent.classList.add("focus");
		}

		function remcl() {
			let parent = this.parentNode.parentNode;
			if (this.value == "") {
				parent.classList.remove("focus");
			}
		}


		inputs.forEach(input => {
			input.addEventListener("focus", addcl);
			input.addEventListener("blur", remcl);
		});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $(document).on('submit', 'form#login', function(e) {
    e.preventDefault();

    var data = $(this).serialize();
    var token = $('meta[name="csrf-token"]').attr('content'); 

    $.ajax({
        url: $(this).attr("action"),
        method: $(this).attr("method"),
        headers: {
            'X-CSRF-TOKEN': token 
        },
        data: data,
        dataType: "json",
        success: function(response) {
            if (response.responseCode == 200) {
                toastr.success(response.responseMessage);
                $('#login')[0].reset();
                window.location.href = "#";
            } else {
                toastr.error(response.responseMessage);
            }
        },
        error: function(response) {
            toastr.error('Somthing went wrong. Please try again.');
        }
    });
});
</script>
</body>
</html>
