<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="clinicdropdown">
          <a href="/admin/dashboard">
            <img src="" class="img-fluid" alt="Profile"
              loading="lazy"
              onerror="this.src='../../../admin-p/assets/img/profiles/avatar-20.jpg'">
            <div class="user-names">
              <h6>Admin</h6>
            </div>
          </a>
        </li>
      </ul>

      <ul>
        <% if (can('category.view')) { %>
        <li>
          <a href="/admin/cms">
            <i class="ti ti-brand-airtable" style="margin-right:8px;"></i>
            <span>CMS Management</span>
          </a>
        </li>
        <% } %>

        <% if (can('settings.edit')) { %>
        <li>
          <a href="/admin/setting/edit">
            <i class="fa fa-cog" aria-hidden="true" style="margin-right:8px;"></i>
            <span>Setting</span>
          </a>
        </li>
      <% } %>
        <!-- ✅ Master Management Dropdown -->
         
        <% if (can('master.management')) { %>
        <li class="submenu">
          <a href="javascript:void(0);">
            <i class="fa fa-database" style="margin-right:8px;"></i>
            <span> Master Management </span>
            <span class="menu-arrow"></span>
          </a>
          <ul style="display: none;">
            <li><a href="/admin/master/categories">Banner Managment</a></li>
            <li><a href="/admin/master/tags">Flash News</a></li>
            <!-- <li><a href="/admin/master/users">Users</a></li> -->
          </ul>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
<!-- /Sidebar -->
